In [1]:
#Importing Libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

# Examples

In [2]:
df.loc[:10, ['salary_year_avg', 'salary_hour_avg']]

    salary_year_avg  salary_hour_avg
0               NaN              NaN
1               NaN              NaN
2               NaN              NaN
3               NaN              NaN
4               NaN              NaN
5               NaN              NaN
6               NaN              NaN
7               NaN              NaN
8               NaN              NaN
9               NaN              NaN
10              NaN              NaN

In [9]:
median_salary_year = df['salary_year_avg'].median()

In [10]:
median_salary_hour = df['salary_hour_avg'].median()

In [16]:
df_filled = df

df_filled['salary_year_avg'] = df_filled['salary_year_avg'].fillna(median_salary_year)
df_filled['salary_hour_avg'] = df_filled['salary_hour_avg'].fillna(median_salary_hour)

In [17]:
df_filled.loc[:10, ['salary_year_avg', 'salary_hour_avg']]

    salary_year_avg  salary_hour_avg
0          115000.0            45.98
1          115000.0            45.98
2          115000.0            45.98
3          115000.0            45.98
4          115000.0            45.98
5          115000.0            45.98
6          115000.0            45.98
7          115000.0            45.98
8          115000.0            45.98
9          115000.0            45.98
10         115000.0            45.98

In [21]:
df_unique = df_filled
df_unique = df_unique.drop_duplicates()

print(f'df_filled: {len(df_filled)}')
print(f'df_unique: {len(df_unique)}')
print(f'difference: {len(df_filled) - len(df_unique)}')

df_filled: 785741
df_unique: 785640
difference: 101

In [23]:
df_unique = df_unique.drop_duplicates(subset=['job_title', 'company_name'])

print(f'df_filled: {len(df_filled)}')
print(f'df_unique: {len(df_unique)}')
print(f'difference: {len(df_filled) - len(df_unique)}')

df_filled: 785741
df_unique: 508042
difference: 277699

# Exercises

In [30]:
#Importing Libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

Using the latest cached version of the dataset since lukebarousse/data_jobs couldn't be found on the Hugging Face Hub
Found the latest cached dataset configuration 'default' at /home/adamwiercioch/.cache/huggingface/datasets/lukebarousse___data_jobs/default/0.0.0/1d815e9ce232eb27db11939c44eb048fe6d2e9ab (last modified on Sat Sep  7 08:51:14 2024).

In [31]:
# Remove rows where the salary_year_avg column has missing values. Display the number of rows before and after removing.

print(f'df: {len(df)}')
df_cleaned = df.dropna(subset='salary_year_avg')
print(f'df_cleaned: {len(df_cleaned)}')
print(f'difference: {len(df) - len(df_cleaned)}')

df: 785741
df_cleaned: 22003
difference: 763738

In [34]:
# Remove duplicate rows from the DataFrame based on the job_location column. Display the number of rows before and after removing duplicates.
print(f'df: {df.shape[0]}')
df_removed = df.drop_duplicates(subset='job_location')
print(f'df_removed: {df_removed.shape[0]}')

df: 785741
df_removed: 17218

In [39]:
# Fill missing values in the salary_rate column with the string 'Unknown'. Display the first 10 rows of the salary_rate column before and after filling.

filled_df = df.fillna({'salary_rate': 'Unknown'})
df['salary_rate'].head(10), filled_df['salary_rate'].head(10)

(0    None
 1    None
 2    None
 3    None
 4    None
 5    None
 6    None
 7    None
 8    None
 9    None
 Name: salary_rate, dtype: object,
 0    Unknown
 1    Unknown
 2    Unknown
 3    Unknown
 4    Unknown
 5    Unknown
 6    Unknown
 7    Unknown
 8    Unknown
 9    Unknown
 Name: salary_rate, dtype: object)